.navbar-custom {
  background-color: #099ce6 !important;
}

.mylogo {
  color: white !important;
}

@media only screen and (min-width: 992px) {
  .mylogo {
    padding-right: 20px;
  }
}

.customsearch {
  color: white;
}

.searchgroup {
  border: solid 1px white;
  border-radius: 5px;
}
